@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body, html {
    width: 100%;
    height: 100%;
    font: 400 18px "Roboto", sans-serif;
    background: DarkGray;

    display: flex;
    align-items: center;
    justify-content: center;
}
#main{
    display: flex;
    flex-direction: row;
    background: Silver;
    width: 1000px;

    box-shadow: 0 0 8px rgb(0, 0, 0.02);
    border-radius: 8px;
    transition: all 0.5s ease;

}

#img-div {
    padding: 24px 48px;
    font: 500 18px "Roboto", sans-serif;
    background: Silver;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    #img-div img {
        max-width: 300px;
    }

#tribute-info {
    border-radius: 8px;
    padding: 24px 5px;
    line-height: 2rem;
    background: Silver;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    li:hover {
       transform: scale(1.1);
    }