
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;   
    max-width: 100%;
    background-color:rgba(255, 255, 255, 1);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro-section {
    width: 100%;
    height: 100%;
    max-width: 348px;
    max-height: 596px;
    background-color: rgba(128, 128 , 128, 0.8);
    margin: 16px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 1.6px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    align-items: center;
}
    .intro-section h1 {
        font-weight: bold;
        font-size: 24px;
        margin: 12px;
    }
    .intro-section img {
        max-width: 208px;
        height: 248px;
        width: 100%;
        border-radius: 1px;
    }
    .intro-section .intro-topics{
        margin: 16px 42px;
    }
    .intro-section .intro-topics li {
        margin-bottom: 8px;
    }
    .intro-section .intro-topics li strong {
        font-weight: bold;
        margin-right: 10px;
    }
.life {
    background-color: rgba(128, 128 , 128, 0.8);
    max-width: 100%;
    margin: 12px 0px;
    padding: 18px 18px;
    text-align: justify;
    border: 1px solid rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
}
    .life h2 {
        font-weight: bold;
        font-size: 18px;
        margin: 0 0 012px;
    }
    .life p {
        margin: 6px 24px;
    }

.books {
    background-color: rgba(128, 128 , 128, 0.8);
    width: 100%;
    padding: 18px 0px;
    margin: 0 0 28px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
}
    .books h2 {
        font-size: 18px;
        font-weight: bold;
    }
    .books-list {
        margin: 12px 0px;
    }
    .books-list li {
        margin-bottom: 8px;
    }
@media(min-width: 1024px ){
    body{
        flex-direction: row;
        flex-flow: wrap;
        align-items: flex-start;
    }
    .intro-section{
        
        width: 40%;
    }
    .life{
        width: 67%;
        margin: auto;
        height: 486px;
        border-radius: 1.6px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    }
    .books {        
        padding: 12px 12px;
        margin: 0 12px;
        margin-bottom: 18px;
        border-radius: 1.6px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    }
}
